body {
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-family: monospace;
}

ul{
  list-style-type: none;
}

footer ul li{
  color: white;
  font-size: 2rem;
  padding: 2rem 0;
}

footer ul li:not(:last-child) {
  color: #f2d357;
}
